/savney-war/target/savney-war-local.war
/savney-ear/target/savney-ear-local.ear
/savney-ear/releases/*.ear
/savney-cdi/target/*.jar
/savney-ear/EarContent/lib/*.jar
/savney-ear/target/savney-ear-local/lib/*.jar
/savney-ear/target/savney-ear-local/*.jar
/savney-ear/target/temp/savney-ejb-ws-rest/WEB-INF/lib/*.jar
/savney-ejb-bd-cliente/target/*.jar
/savney-ejb-bd/target/*.jar
/savney-ejb-ws-cliente/endorsed/*.jar
/savney-ejb-ws-cliente/target/*.jar
/savney-ejb-ws-rest/target/savney-ejb-ws-rest-0.0.1-SNAPSHOT/WEB-INF/lib/*.jar
/savney-log/target/*.jar
/savney-modelo-bd/target/*.jar
/savney-war/target/savney-war-local/WEB-INF/lib/*.jar
/savney-ear/target/savney-ear-local/savney-ejb-ws-rest.war
/savney-ejb-ws-rest/target/savney-ejb-ws-rest-0.0.1-SNAPSHOT.war
/savney-war/releases/savney-war-local.war
